export MYSQL_USER=root
export MYSQL_DATABASE=sample
export MYSQL_PROTOCOL=tcp
export MYSQL_PASSWORD=root
export MYSQL_COONNECTION=127.0.0.1:3306
export GOOGLE_APPLICATION_CREDENTIALS=
cp -a ./.pre-commit .git/hooks/pre-commit
git init
